extends layout
block content
  nav#navbar
    ul.nav-list
      li
        a(href='#')
          | Home
      li
        a(href='#')
          | Projects
      li
        a(href='#')
          | Contact
  #welcome-section
    h1
      | Nurdiana Atmanagara
    p Scroll to see my portofolio
    #down-arrow &#x2B07;
  //- #projects
  //-   .project-tile
  //-     a(href='http://www.google.com')
  //-       | Link
  //-   .project-tile
  //-     a(href='http://www.google.com')
  //-       | Link
  //- a#profile-link(href='http://www.google.com' target='_blank')
  //-   | link
